// .boxes are contained within the App-level #box-grid

.box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
}