// .boxes are contained within the App-level #box-grid

.box {
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    border-width: 1px;
    border-style: solid;
    background: url('../../assets/Grass\ 10.png');
}

.box.selected-box {
    border-color: yellow;
    border-width: 2px;
}

.box.unselected-box {
    border-color: black;
    border-width: 1px;
}
